.layout{
    background-color: #220707;
    background-image: linear-gradient(90deg, #220707 0%, #101010 21%, #1c1c1c 39%, #1c1c1c 60%, #101010 80%, #220707 100%);
    
}    
.info{
    background-color: #220707;
    background-image: linear-gradient(90deg, #220707 0%, #101010 21%, #1c1c1c 39%, #1c1c1c 60%, #101010 80%, #220707 100%);
    
}
/* .menu{
    background: #fff;
    color: #000000;
    list-style: none;
    margin: 0;
    font-size: 18px;
    overflow: hidden;
    height: 0px;
    transition: height 0.3s ease;
    padding: 0;
}
.menu:active{
    height: 100px;
    overflow: auto;
} */